<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Contact us</title>
    
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
            th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
          th:src="@{/js/jquery-2.1.4.min.js}"></script>
    
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    
</head>
<body>

	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <h1>Contact user</h1>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-12">
	            <h2>List of users Trainings</h2>
	        </div>
	    </div>
	</div>

</body>
</html>