<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
            th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
          th:src="@{/js/jquery-2.1.4.min.js}"></script>
    
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    
</head>

<body>

 
<div class="container" th:replace="fragments/header :: header">
	<p>header</p>
</div>
 
<!-- <h2 th:text="${user.userName}"></h2> -->

<div class="showUsersTrainings container">
	<div class="row">
		<div id="trainingListTable"
			class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10">			
			<h2>This are all current users</h2>
			
			<a th:text="${user.user_id}"></a> 
			<a th:text="${user.userName}"></a>
			<a th:text="${user.user_email}"></a>
			<a th:text="${user.password}"></a>
			<a th:text="${user.authority}"></a>
			<a th:href="@{'/user/' + ${user.user_id} + '/update/'}">Update</a>
			<a th:href="@{'/user/' + ${user.user_id} + '/trainings/'}">Show my trainings</a>
		</div>
	</div>
</div>       

<div class="container" th:replace="fragments/footer :: footer">
<p>footer</p>
</div>

</body>

</html>